<a href="https://colab.research.google.com/github/rafavidal1709/mack-ai-plataforma/blob/main/Etapa_1_Ambienta%C3%A7%C3%A3o_e_Procedimentos_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Etapa 1 - Ambientação e Procedimentos em SQL

**Material de Apoio**

[MAPA DO BANCO DE DADOS](https://github.com/rafavidal1709/mack-ai-plataforma/blob/main/Mapa%20Banco%20de%20Dados.pdf)

[TODO O CÓDIGO SQL](https://github.com/rafavidal1709/mack-ai-plataforma/tree/main/postgreSQL)

[FLUXOGRAMA DE DESENVOLVIMENTO](https://github.com/rafavidal1709/mack-ai-plataforma/blob/main/Fluxograma.pdf)

[Descrição do esquema de banco de dados](https://docs.google.com/document/d/11lp3V0he0p6M_T1bOedblmoLvtRiu-eCpUl_Do5GdYs/edit?usp=sharing)

[Cronograma completo do projeto](https://docs.google.com/document/d/1XRxitykgFvNZlXv7IJBSToIiAjjR1n4rdTAleI0rPVQ/edit?tab=t.0#heading=h.aggnx9bgqcsa)

*O banco de dados usa a imagem **PostgreSQL 15**,*

*Sendo assim a sintaxe SQL deve ser compatível com ela.*

**Veja seu nome de usuário abaixo e insira no DB_USER**

- kaique_barros
- matheus_goncalves
- carla_de_jesus
- david_lima
- vitoria_lima
- gustavo_kiyoshi
- sophia_nishimura
- moabe_silva
- marlon_brenno

In [ ]:
DBUSER = "meu_nome" #@param {type:"string"}
DBKEY = "senha123"
DBNAME = DBUSER
IP = "34.63.204.77"
PORT = 5432

if not DBNAME in ["kaique_barros", "matheus_goncalves", "carla_de_jesus", "david_lima", "vitoria_lima", "gustavo_kiyoshi", "sophia_nishimura", "moabe_silva", "marlon_brenno", "rafael_vidal"]:
  print("ERRO: Leia as instruções acima e insira um nome de usuário válido")
else:
  print("Tudo certo!\n")

  from sqlalchemy import create_engine, text
  from sqlalchemy.exc import SQLAlchemyError, ResourceClosedError

  engine = create_engine(
      f"postgresql+psycopg2://{DBUSER}:{DBKEY}@{IP}:{PORT}/{DBNAME}",
      future=True
  )
  with engine.connect() as conn:
      conn.execute(text("SET search_path TO plataforma;"))
      rows = conn.execute(text('SELECT * FROM grupo LIMIT 10;')).all()
      for r in rows:
          print(r)

Tudo certo!

(1, 'Estudo: Matemática', 'estudo', 'Grupo de estudo de matemática', datetime.datetime(2025, 10, 9, 15, 52, 41, 391052, tzinfo=datetime.timezone.utc), datetime.datetime(2025, 10, 9, 15, 52, 41, 391052, tzinfo=datetime.timezone.utc))
(2, 'Estudo: Programação', 'estudo', 'Grupo de estudo de programação', datetime.datetime(2025, 10, 9, 15, 52, 41, 391052, tzinfo=datetime.timezone.utc), datetime.datetime(2025, 10, 9, 15, 52, 41, 391052, tzinfo=datetime.timezone.utc))
(3, 'Estudo: Meio Ambiente', 'estudo', 'Grupo de estudo sobre meio ambiente', datetime.datetime(2025, 10, 9, 15, 52, 41, 391052, tzinfo=datetime.timezone.utc), datetime.datetime(2025, 10, 9, 15, 52, 41, 391052, tzinfo=datetime.timezone.utc))
(4, 'Estudo: Línguas', 'estudo', 'Grupo de estudo de idiomas', datetime.datetime(2025, 10, 9, 15, 52, 41, 391052, tzinfo=datetime.timezone.utc), datetime.datetime(2025, 10, 9, 15, 52, 41, 391052, tzinfo=datetime.timezone.utc))
(5, 'Trabalho: Comunicação', 'estudo', 'Célula de comunicação', datetime.datetime(2025, 10, 9, 15, 52, 41, 391052, tzinfo=datetime.timezone.utc), datetime.datetime(2025, 10, 9, 15, 52, 41, 391052, tzinfo=datetime.timezone.utc))
(6, 'Trabalho: Desenvolvimento', 'estudo', 'Célula de desenvolvimento de software', datetime.datetime(2025, 10, 9, 15, 52, 41, 391052, tzinfo=datetime.timezone.utc), datetime.datetime(2025, 10, 9, 15, 52, 41, 391052, tzinfo=datetime.timezone.utc))
(7, 'Trabalho: Pesquisa de Campo', 'estudo', 'Célula de pesquisa de campo', datetime.datetime(2025, 10, 9, 15, 52, 41, 391052, tzinfo=datetime.timezone.utc), datetime.datetime(2025, 10, 9, 15, 52, 41, 391052, tzinfo=datetime.timezone.utc))
(8, 'Trabalho: Eventos', 'estudo', 'Célula de organização de eventos', datetime.datetime(2025, 10, 9, 15, 52, 41, 391052, tzinfo=datetime.timezone.utc), datetime.datetime(2025, 10, 9, 15, 52, 41, 391052, tzinfo=datetime.timezone.utc))

**Se quiser** explorar o banco de dados pode usar a estrutura de código abaixo:

In [ ]:
with engine.connect().execution_options(isolation_level="AUTOCOMMIT") as conn:
    conn.execute(text("SET search_path TO plataforma;"))
    while True:
        print("Digite uma query:")
        query = input()
        if query.lower().strip() == "exit":
            break
        try:
            result = conn.execute(text(query))
            # Alguns comandos retornam linhas (SELECT, SHOW, etc.)
            if result.returns_rows:
                rows = result.fetchall()
                for r in rows:
                    print(r)
            else:
                print("✅ Comando executado com sucesso (sem retorno).")
                conn.commit()
        except ResourceClosedError:
            print("✅ Comando executado (sem retorno).")
        except Exception as e:
            print("❌ Erro:", e)
            conn.rollback()

Digite uma query:
SELECT * FROM encontro
(8, 11, datetime.datetime(2025, 10, 9, 17, 0, tzinfo=datetime.timezone.utc), datetime.datetime(2025, 10, 9, 19, 0, tzinfo=datetime.timezone.utc), 'Discussão sobre o novo projeto', 'Planejar as próximas etapas e divisão de tarefas', None, datetime.datetime(2025, 10, 9, 15, 15, 12, 18163, tzinfo=datetime.timezone.utc), datetime.datetime(2025, 10, 9, 15, 15, 12, 18163, tzinfo=datetime.timezone.utc))
(11, 11, datetime.datetime(2025, 10, 10, 17, 0, tzinfo=datetime.timezone.utc), datetime.datetime(2025, 10, 10, 19, 0, tzinfo=datetime.timezone.utc), 'Discussão sobre o novo projeto 2', 'Planejar as próximas etapas e divisão de tarefas', None, datetime.datetime(2025, 10, 9, 15, 18, 47, 47828, tzinfo=datetime.timezone.utc), datetime.datetime(2025, 10, 9, 15, 18, 47, 47828, tzinfo=datetime.timezone.utc))
Digite uma query:
exit

**Busque seu nome e veja a função que você deve criar:**

- 03a: criar_grupo(executado_por, nome, tipo, descricao) **Kaique Barros**

>    Cria uma linha na tabela 'grupo', tipo e descrição são opcionais pois tem valor default.

- 03b: criar_ocorrencia(executado_por, semestre, grupo) **Matheus Gonçalves**

>    Cria uma linha na tabela 'ocorreu', todos os parâmetros são obrigatórios.

- 05: agendar_encontro(executado_por, ocorrencia, inicio, fim, tema, resumo) **Rafael Vidal**

>    Cria uma linha na tabela 'encontro', resumo é opcional com default null.

- 07: criar_tarefa(executado_por, ocorrencia, horas, inicio, fim, tema, resumo, video) **Carla de Jesus**

>    Cria uma linha na tabela 'tarefa', resumo e vídeo são opcionais com default null.

- 09: vai_apresentar(executado_por, participante, encontro) **David Lima**

>    Cria uma linha na tabela 'apresentou', todos os parâmetros são obrigatórios.

- 11: confirmar_apresentacao(executado_por, apresentou_id, horas) **Vitoria Lima**

>    Atualiza a tabela apresentou, definindo confirmado como true. Horas é opicional, se não for null atualize as horas da linha, caso contrário mantenha esta coluna como está.

**DICA:** Veja o fim deste notebook, você vai encontrar:

- Um exemplo, o procedimento 05 resolvido;
- Uma célula para formatar seu banco de dados, caso tenha problemas.

**Crie abaixo sua função:**

In [ ]:
meu_query = """


-- Descrição do procedure


CREATE OR REPLACE PROCEDURE nome_do_procedure(
  IN in_executado_por INT,  -- Todos os procedimentos devem receber este no primeiro parâmetro
  IN in_param         INT,
  IN in_param2        TEXT
)
LANGUAGE plpgsql
AS $procedure$
DECLARE
  v_var1 NUMERIC := 0;
  v_var2 NUMERIC := 0;
BEGIN
    -- ... suas operações aqui ...

  INSERT INTO log (rotulo, dados)
  VALUES (
    'nome_da_procedure',                  -- Mesmo nome do procedimento
    jsonb_build_object(
      'executado_por', in_executado_por,
      'param1',        in_param,
      'param2',        in_param2
    )
  );
END;
$$;


"""

try:
    with engine.begin() as conn:  # <-- COMMIT automático no final do bloco
        conn.execute(text("SET search_path TO plataforma"))
        conn.execute(text(meu_query))
        # Opcional: ver o search_path efetivo
        print(conn.execute(text("SHOW search_path")).scalar())
    print("✅ Procedure criada (commit feito).")
except SQLAlchemyError as e:
    print("❌ Erro ao criar a procedure:", e)

with engine.connect().execution_options(isolation_level="AUTOCOMMIT") as conn:
    conn.execute(text("SET search_path TO plataforma;"))

    print("\n-------- EXECUTANDO O PROCEDIMENTO --------\n")

    conn.execute(text("""

CALL nome_do_procedure(1, 2, 'param2');                                                          -- NÃO ESQUEÇA DE PREENCHER O NOME DO PROCEDURE

    """))

    print("\n-------- TESTANDO RESULTADO --------\n")

    rows = conn.execute(text('SELECT * FROM tabela_afetada ORDER BY id DESC LIMIT 10;')).all()    # NÃO ESQUEÇA DE PREENCHER O NOME DA TABELA AFETADA PELO PROCEDURE
    for r in rows:
        print(r)

    print("\n-------- TESTANDO LOG --------\n")

    rows = conn.execute(text('SELECT * FROM log ORDER BY id DESC LIMIT 10;')).all()
    for r in rows:
        print(r)

**Após fazer os testes, use o código abaixo para fazer download da função.**

Envie o arquivo no nosso grupo de WhatsApp

In [ ]:
# Parâmetro: nome do arquivo (sem .sql)
nome_funcao = "nome da função"  #@param {type:"string"}

import re, os, io

try:
    _conteudo = meu_query
except NameError:
    raise RuntimeError("A variável `meu_query` não foi definida nesta sessão do Colab.")

conteudo_limpo = _conteudo.strip("\n")
if not conteudo_limpo.endswith("\n"):
    conteudo_limpo += "\n"

if not nome_funcao:
    raise ValueError("`nome_funcao` ficou vazio.")

destino = f"/content/{nome_funcao}.sql"

with io.open(destino, "w", encoding="utf-8") as f:
    f.write("SET search_path TO plataforma;\n\n"+conteudo_limpo)

print(f"✅ Salvo em: {destino}  (tamanho: {os.path.getsize(destino)} bytes)")

# --- força download no Colab ---
try:
    from google.colab import files
    files.download(destino)
except Exception as e:
    print("⚠️ Não consegui iniciar o download automático. Baixe manualmente em:", destino, "\nDetalhes:", e)

✅ Salvo em: /content/nome da função.sql  (tamanho: 1638 bytes)

# Exemplo: o procedimento 05 resolvido

In [ ]:
from sqlalchemy.exc import SQLAlchemyError

meu_query = """


-- agendar_encontro(executado_por, ocorrencia, inicio, fim, tema, resumo)
-- Cria uma linha na tabela 'encontro', resumo é opcional com default null.


CREATE OR REPLACE PROCEDURE agendar_encontro(
  IN in_executado_por INT,
  IN in_ocorrencia    INT,
  IN in_inicio        TIMESTAMPTZ,
  IN in_fim           TIMESTAMPTZ,
  IN in_tema          VARCHAR(255),
  IN in_resumo        TEXT DEFAULT NULL
)
LANGUAGE plpgsql
SET search_path = plataforma
AS $$
BEGIN
  IF NOT (in_fim > in_inicio) THEN
    RAISE EXCEPTION 'O horário de término deve ser maior que o de início';
  END IF;

  IF in_resumo IS NULL THEN                                             -- Neste caso esse IF não era necessário, mas fique atento ao valor DEFAULT da tabela.
    INSERT INTO plataforma.encontro (ocorrencia, inicio, fim, tema)     -- Se o valor DEFAULT da tabela **não** for NULL este IF é necessário.
    VALUES (in_ocorrencia, in_inicio, in_fim, in_tema);
  ELSE
    INSERT INTO plataforma.encontro (ocorrencia, inicio, fim, tema, resumo)   -- Veja que o in_executado_por não entra aqui
    VALUES (in_ocorrencia, in_inicio, in_fim, in_tema, in_resumo);
  END IF;

  INSERT INTO plataforma.log (rotulo, dados)
  VALUES (
    'agendar_encontro',                     -- Mesmo nome do procedimento
    jsonb_build_object(
      'executado_por', in_executado_por,
      'ocorrencia',    in_ocorrencia,
      'inicio',        in_inicio,
      'fim',           in_fim,
      'tema',          in_tema,
      'resumo',        in_resumo            -- Os parâmetros opcionais devem ser incluídos aqui
    )
  );
END;
$$;


"""

try:
    with engine.begin() as conn:  # <-- COMMIT automático no final do bloco
        conn.execute(text("SET search_path TO plataforma"))
        conn.execute(text(meu_query))
        print(conn.execute(text("SHOW search_path")).scalar())
    print("✅ Procedure criada (commit feito).")
except SQLAlchemyError as e:
    print("❌ Erro ao criar a procedure:", e)

with engine.connect().execution_options(isolation_level="AUTOCOMMIT") as conn:  # <-- SEM COMMIT automático no final do bloco
    conn.execute(text("SET search_path TO plataforma;"))

    print("\n-------- EXECUTANDO O PROCEDIMENTO --------\n")

    conn.execute(text("""

CALL agendar_encontro(
  1,                                                              -- executado_por
  11,                                                             -- ocorrencia
  TIMESTAMPTZ '2025-10-10 14:00:00-03',                           -- inicio
  TIMESTAMPTZ '2025-10-10 16:00:00-03',                           -- fim
  'Discussão sobre o novo projeto 2',                             -- tema
  'Planejar as próximas etapas e divisão de tarefas'              -- resumo
);

    """))

    print("\n-------- TESTANDO RESULTADO --------\n")

    rows = conn.execute(text('SELECT * FROM encontro ORDER BY id DESC LIMIT 10;')).all()
    for r in rows:
        print(r)

    print("\n-------- TESTANDO LOG --------\n")

    rows = conn.execute(text('SELECT * FROM log ORDER BY id DESC LIMIT 10;')).all()
    for r in rows:
        print(r)

plataforma
✅ Procedure criada (commit feito).

-------- EXECUTANDO O PROCEDIMENTO --------


-------- TESTANDO RESULTADO --------

(11, 11, datetime.datetime(2025, 10, 10, 17, 0, tzinfo=datetime.timezone.utc), datetime.datetime(2025, 10, 10, 19, 0, tzinfo=datetime.timezone.utc), 'Discussão sobre o novo projeto 2', 'Planejar as próximas etapas e divisão de tarefas', None, datetime.datetime(2025, 10, 9, 15, 18, 47, 47828, tzinfo=datetime.timezone.utc), datetime.datetime(2025, 10, 9, 15, 18, 47, 47828, tzinfo=datetime.timezone.utc))
(8, 11, datetime.datetime(2025, 10, 9, 17, 0, tzinfo=datetime.timezone.utc), datetime.datetime(2025, 10, 9, 19, 0, tzinfo=datetime.timezone.utc), 'Discussão sobre o novo projeto', 'Planejar as próximas etapas e divisão de tarefas', None, datetime.datetime(2025, 10, 9, 15, 15, 12, 18163, tzinfo=datetime.timezone.utc), datetime.datetime(2025, 10, 9, 15, 15, 12, 18163, tzinfo=datetime.timezone.utc))

-------- TESTANDO LOG --------

(3, datetime.datetime(2025, 10, 9, 15, 18, 47, 47828, tzinfo=datetime.timezone.utc), 'agendar_encontro', {'fim': '2025-10-10T19:00:00+00:00', 'tema': 'Discussão sobre o novo projeto 2', 'inicio': '2025-10-10T17:00:00+00:00', 'resumo': 'Planejar as próximas etapas e divisão de tarefas', 'ocorrencia': 11, 'executado_por': 1})
(2, datetime.datetime(2025, 10, 9, 15, 15, 12, 18163, tzinfo=datetime.timezone.utc), 'agendar_encontro', {'fim': '2025-10-09T19:00:00+00:00', 'tema': 'Discussão sobre o novo projeto', 'inicio': '2025-10-09T17:00:00+00:00', 'resumo': 'Planejar as próximas etapas e divisão de tarefas', 'ocorrencia': 11, 'executado_por': 1})

# Formatar o banco de dados

In [ ]:
import os

os.environ["IP"] = IP
os.environ["DATABASE"] = DBNAME
os.environ["PGUSER"] = DBUSER
os.environ["DBKEY"] = DBKEY

In [ ]:
%%bash
DEST="/tmp/postgreSQL"
mkdir -p "$DEST"
cd "$DEST"

# === garante psql
if ! command -v psql >/dev/null 2>&1; then
  apt-get update -qq
  apt-get install -y -qq postgresql-client >/dev/null
fi

# === jq (para parsear JSON da API do GitHub) ===
if ! command -v jq >/dev/null 2>&1; then
  apt-get update -qq && apt-get install -y -qq jq >/dev/null
fi

# === 1) Baixar todos os .sql da pasta do GitHub (sem quebrar espaços) ===
curl -s "https://api.github.com/repos/rafavidal1709/mack-ai-plataforma/contents/postgreSQL" \
| jq -r '.[] | select(.name|endswith(".sql")) | [.name, .download_url] | @tsv' \
| sort -k1,1 \
| while IFS=$'\t' read -r name url; do
  echo "Baixando: $name"
  wget -q -O "$name" "$url"
done

# === 2) Executar os arquivos em ordem alfabética ===
ls -1 *.sql | sort | while IFS= read -r file; do
  echo "Executando: $file"
  PGPASSWORD="$DBKEY" psql -h "$IP" -U "$PGUSER" -d "$DATABASE" -f "$file"
done